body {
    display: flex;
    flex-direction: column;
    margin: 0 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

div {
    padding: 10%;
}

.game-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 0 0;
   
}

.gameplay {
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: darkgreen;
    
}



.dealer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 40%;

}

.player {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 40%
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5em;
    height: 7em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
}

.button {
    max-width: 50%;
    border-color: white;
}


