.game-content {
    display: inline-flexbox;
    flex-direction: column;
}

.gameplay {
    display: flex

}

.header {
    display: flexbox;
    flex-direction: row;
}

.sidebar {

}



h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

#game-title {
    justify-content: flex-start;

}

#score {
   justify-content: flex-end; 
}
