.game-content {
    display: flex;
    flex-direction: column;
}

.gameplay {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.header {
    display: flexbox;
    flex-direction: row;
}





h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

#game-title {
    justify-content: flex-start;

}

#score {
   justify-content: flex-end; 
}
